<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Chỉnh sửa sản phẩm</title>
</head>
<body>
  <h1>Chỉnh sửa sản phẩm: <%= product.name %></h1>

  <form action="/products/edit/<%= product._id %>" method="POST">
    <div>
      <label for="name">Tên sản phẩm:</label>
      <input type="text" id="name" name="name" value="<%= product.name %>" required>
    </div>

    <div>
      <label for="sku">Mã sản phẩm:</label>
      <input type="text" id="sku" name="sku" value="<%= product.sku %>" required>
    </div>

    <div>
      <label for="price">Giá bán:</label>
      <input type="number" id="price" name="price" value="<%= product.price %>" required>
    </div>

    <div>
        <label for="capital">Giá vốn:</label>
        <input type="number" id="capital" name="capital" value="<%= product.capital %>" required>
    </div>
      

    <div>
      <label for="quantity">Số lượng:</label>
      <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" required>
    </div>

    <div>
      <label for="category">Danh mục:</label>
      <input type="text" id="category" name="category" value="<%= product.category %>" required>
    </div>

    <div>
      <label for="manufacturer">Nhà sản xuất:</label>
      <input type="text" id="manufacturer" name="manufacturer" value="<%= product.manufacturer %>" required>
    </div>

    <button type="submit">Cập nhật sản phẩm</button>
  </form>
</body>
</html>
