<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Chỉnh sửa Khách Hàng</title>
</head>
<body>
  <h1>Chỉnh sửa thông tin khách hàng</h1>
  <form action="/customer/update/<%= customer._id %>" method="POST">
    <label for="customerId">Mã khách hàng:</label>
    <input type="text" id="customerId" name="customerId" value="<%= customer.customerId %>" required><br>

    <label for="name">Tên khách hàng:</label>
    <input type="text" id="name" name="name" value="<%= customer.name %>" required><br>

    <label for="phone">Số điện thoại:</label>
    <input type="text" id="phone" name="phone" value="<%= customer.phone %>" required><br>

    <label for="address">Địa chỉ:</label>
    <input type="text" id="address" name="address" value="<%= customer.address %>" required><br>

    <label for="totalPurchaseAmount">Tổng tiền hàng:</label>
    <input type="number" id="totalPurchaseAmount" name="totalPurchaseAmount" value="<%= customer.totalPurchaseAmount %>" required><br>

    <label for="totalDebt">Tổng nợ:</label>
    <input type="number" id="totalDebt" name="totalDebt" value="<%= customer.totalDebt %>" required><br>

    <button type="submit">Cập nhật thông tin</button>
  </form>
</body>
</html>
